* {
      font-size: 16px; 
    }
    .example {
      margin-bottom: 20px;
      padding: 10px;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
    }

    .px-box {
      font-size: 20px;
    }

    .em {
      font-size: 20px;
    }

    .em-box {
      font-size: 1.5em; 
    }

    .rem-box {
      font-size: 1.5rem; 
    }

    .percent {
      font-size: 20px;
    }

    .percent-box {
      font-size: 150%; 
    }